<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="style.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    
    <%- include ('partial/nav') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="ind" >
    <div style="margin:150px">
    <h1>Hey, you are not a host now! However, you can apply for becoming a host soon. </h1>
    <h2><strong>You should prepaid following documents for us when you apply for host</strong></h2>.
    <H3> 1. Criminal Record Check issued by RCMP</H3>
    <H3> 2. Proof of living at the house at least 6 Months</H3>
    <H3> 3. Provide pictures of your host address and mark where is for pets' living</H3>
    <H3> 4. 1000 Dollars Deposit (if the pet died or other incidents and we cannot find you, the deposit will be paid for customers).</H3>
    <H3> 5. We will check the host address randomly.</H3>
    </h3>
</div>
</div>

</body>
</html>