<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
    <title>Host Edit</title>
</head>
<body>
  <%- include ('partial/nav') %>
  <%- title %>
  <h3 class="text-success">Edit <%=user.name%></h3>
  <!-- we will create a form to send data to backend and store into the database -->
  <div class="update-products content">
    <form action="/user_edit" method="post" style="display: inline-grid;">
      <label for="nickName">Nick Name</label>
      <input type="text" id="nickName" name="nickName" placeholder="Full Name">
      <label for="picture">image</label>
      <input type="text" id="picture" name="picture" placeholder="Image-URL">
      <label for="occupation">Occupation</label>
      <input type="text" id="occupation" name="occupation" placeholder="Software Engineer">
      <select name="city" id="city">
        <option value="Vancouver">Vancouver</option>
        <option value="Toronto">Toronto</option>
      </select>
      <label for="country">Country</label>
      <select name="country" id="country">
        <option value="Canada">Canada</option> 
      </select>
      <label for="birthday">Birthday</label>
      <input type="date" id="birthday" name="birthday">
      <label for="phone1">Mobile Phone</label>
      <input type="number" id="phone1" name="phone1" placeholder="1111111111">
      <label for="phone2">Emergency Contact Phone</label>
      <input type="number" id="phone2" name="phone2" placeholder="2222222222">
      <label for="petname">Pet Name</label>
      <input type="text" id="npetname" name="petname" placeholder="pet name">
      <label for="petimage">Pet Image</label>
      <input type="text" id="petimage" name="petimage" placeholder="Image-URL">
      <label for="pettype">Pet Type</label>
      <select name="pettype" id="pettype">
        <option value="Dog">Dog</option>
        <option value="Cat">Cat</option>
        <option value="Other">Other</option>
      </select>
      <label for="petname2">Second Pet Name</label>
      <input type="text" id="petname2" name="petname2" placeholder="pet name">
      <label for="petimage2">Second Pet Image</label>
      <input type="text" id="petimage2" name="petimage2" placeholder="Image-URL">
      <label for="pettype2">Pet Type</label>
      <select name="pettype2" id="pettype2">
        <option value="Dog">Dog</option>
        <option value="Cat">Cat</option>
        <option value="Other">Other</option>
      </select>

        <label for="petname3">Second Pet Name</label>
        <input type="text" id="petname3" name="petname3" placeholder="pet name">
        <label for="petimage2">Second Pet Image</label>
        <input type="text" id="petimage3" name="petimage3" placeholder="Image-URL">
        <label for="pettype3">Pet Type</label>
        <select name="pettype3" id="pettype3">
          <option value="Dog">Dog</option>
          <option value="Cat">Cat</option>
          <option value="Other">Other</option>
      </select>

      <label for="petname4">Second Pet Name</label>
        <input type="text" id="petname4" name="petname4" placeholder="pet name">
        <label for="petimage4">Second Pet Image</label>
        <input type="text" id="petimage4" name="petimage4" placeholder="Image-URL">
        <label for="pettype4">Pet Type</label>
        <select name="pettype4" id="pettype4">
          <option value="Dog">Dog</option>
          <option value="Cat">Cat</option>
          <option value="Other">Other</option>
      </select>
      <button>Submit</button>
    </form>
  </div>    
</body>